body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #232f3e;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.product-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.product-card {
    background-color: #fff;
    width: 30%;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.product-card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.product-card h3 {
    margin: 10px 0;
    font-size: 1.2em;
}

.product-card p {
    margin: 10px 0;
    font-size: 1.1em;
    color: #b12704;
}

.product-card button {
    background-color: #f0c14b;
    border: 1px solid #a88734;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}

.product-card button:hover {
    background-color: #ddb347;
}
